body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "HansiefRough";
  src: local("HansiefRough"),
   url("./Components/Fonts/HansiefRough.otf") format("truetype");
  }

